img#logo{
    width: 5vw;
}

.loginContainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer form{
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.loginContainer form input{
    margin-top: 20px;
    border : 1ps solid  #dddddd;
    border-radius: 4px;
    height: 48px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
}

.loginContainer form input::placeholder{
    color: #999;
}

.loginContainer form button{
    margin-top: 10px;
    border: 0;
    height: 48px;
    padding: 0 20px;
    font-size: 16px;
    background: #DF4723;;
    color:#fff;
    cursor: pointer;
}
